body {
    font-family: Arial, sans-serif;
    background-image: url("images/balong.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    width: auto;
    height: auto;
    margin: 20px;
    border: 4px solid rgba(225, 158, 224, 0.57);
    max-width: 600px;
}

.card-img {
    width: 80%;
    height: auto;
    display: block;
    margin: 10px auto;
    border: 4px solid rgba(225, 158, 224, 0.57);
    border-radius: 10px;
}

.card-content {
    padding: 20px;
}
.card-info {
    background-color: rgba(225, 158, 224, 0.57);
    padding: 5px;
    margin: 10px auto;
    border-radius: 10px;
    border: rgb(225, 158, 224);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: auto;
    height: auto;
    overflow: hidden;
}

h1 {
    color: #333;
    margin: 20px;
    text-align: center;
}
h3 {
    margin: 20px;
    font-weight: normal;
}

p {
    color: #666;
    margin: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    background-color: rgba(225, 158, 224, 0.57);
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(225, 158, 224);
}

/* CSS för modalen */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    width: 80%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal label {
    display: block;
    margin-bottom: 5px;
}

.modal input[type="text"],
.modal input[type="number"],
.modal textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal button[type="submit"] {
    background-color: rgba(225, 158, 224, 0.57);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.modal button[type="submit"]:hover {
    background-color: rgb(225, 158, 224);
}