<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbjudningskort</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" href="/css/styles.css">
</head>
<body>
<div class="card">
    <h1 style="font-size: 40px; line-height: 1.5;">&hearts;&hearts;&hearts;</h1><br>
    <img th:src="@{/images/leah2.jpg}" alt="Festbild" class="card-img">
    <div class="card-content">
        <p style="font-size: 40px; line-height: 1.5;">
            Yeey! <br> Välkommen hem till mig!!
        </p>
    </div>
</div>
</body>
</html>